<ion-header>
  <ion-toolbar>
    <ion-title class="hd">
      Daftar  Game Nitendo
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
             
                <div class="rad-info-box ">
                   
                  <i ><img src="https://i.ytimg.com/vi/qN4w5D2tzME/maxresdefault.jpg"></i> 
                 
                  <span class="heading"> 
                        
                      Splatoon 2</span>
                  <span class="value"><span>Rp 575.000</span></span>
                </div>
           
             
                <div class="rad-info-box ">
                  <i><img src="https://i.gadgets360cdn.com/large/fortnite_switch_1528836506234.jpg"></i>
                  <span class="heading">Fornite</span>
                  <span class="value"><span>Rp 554.000</span></span>
                </div>
             
                <div class="rad-info-box ">
                  <i ><img src="https://static.inilah.com/data/berita/foto/2512265.jpg"></i>
                  <span class="heading"> Pokemon Sword and Shield</span>
                  <span class="value"><span>Rp 665.000</span></span>
                </div>
              
                <div class="rad-info-box">
                  <i ><img src="https://cdn02.nintendo-europe.com/media/images/10_share_images/portals_3/H2x1_AnimalCrossing_Hub_v03_image1600w.jpg"></i>
                  <span class="heading">Animal Crossing</span>
                  <span class="value"><span>Rp 240.000</span></span>
                </div>
                <div class="rad-info-box">
                    <i > <img src="https://i.ytimg.com/vi/-SUF-OM7GVw/maxresdefault.jpg"></i>
                    <span class="heading">Super Mario World</span>
                    <span class="value"><span>Rp 755.000</span></span>
                  </div>
              
          </ion-content>
         
